body{
    background: url('./brushed-alum.png');
}
.container-fluid{
    padding-bottom: 2em;
}
#home-nav{
    padding: 1em;
}
#home-nav button{
    background-color: white;
}
.content{
    margin: 0.5em 0;
    padding: 1em;
    background: rgba(255, 255, 255, 0.7);
    border-radius: .25rem;
}
.result-field {
    font-weight: bold;
}
.has-success > input{
    color: #3c763d;
    border-color: #3c763d;
}
.has-warning > input{
    color: #8a6d3b;
    border-color: #8a6d3b;
}
.has-error p{
    color: #dc3545;
}
.has-error input{
    border-color: #dc3545;
}
hr{
    border: 1px inset black;
}