{% extends "layout.html" %}
{% block body %}
<div class="content col-md-4 offset-md-4">
<h1>BTZ Calculator</h1><hr />
<form action="{{url_for('btz')}}" method="post">

    <!-- Form Data -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group {% if form.tafmsd.errors %} has-error {% endif %}">
                {{ form.tafmsd.label() }}
                {{ form.tafmsd(class="form-control") }}
                <p class="help-block">
                    {{ form.tafmsd.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.a1c_dor.errors %} has-error {% endif %}">
                {{ form.a1c_dor.label() }}
                {{ form.a1c_dor(class="form-control") }}
                <p class="help-block">
                    {{ form.a1c_dor.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.enlist_duration.errors %} has-error {% endif %}">
                {{ form.enlist_duration.label() }}
                {{ form.enlist_duration(class="form-control") }}
                <p class="help-block">
                    {{ form.enlist_duration.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.enlist_rank.errors %} has-error {% endif %}">
                {{ form.enlist_rank.label() }}
                {{ form.enlist_rank(class="form-control") }}
                <p class="help-block">
                    {{ form.enlist_rank.errors[0] }}
                </p>
            </div>

            <!-- Form Result -->
            <div class="form-group">
                {{ form.btz_promotion_date.label() }}
                {{ form.btz_promotion_date(class="form-control result-field", disabled=True) }}
            </div>
            <div class="form-group">
                {{ form.sra_promotion_date.label() }}
                {{ form.sra_promotion_date(class="form-control result-field", disabled=True) }}
            </div>
            <div class="form-group">
                {{ form.meet_board_date.label() }}
                {{ form.meet_board_date(class="form-control result-field", disabled=True) }}
            </div>

            <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
    </div>
</form>
    <hr />
    <small>
        <p>
            Reference:
            <a href="{{ info.reference }}">
                {{ info.reference }}
            </a><br />
            Algorithm updated: {{ info.updated.strftime('%d %b %y %H:%M') }}
        </p>
    </small>
</div>
{% endblock %}
