{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        <h2>Utilities:</h2>
        <ul class="list-group">
            {% for module in modules %}
                <li class="list-group-item"><a href="{{ module[0] }}">{{ module[1] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        <div class="content">
            {{ content }}
        </div>
    </div>
</div>
{% endblock %}
