{% extends "layout.html" %}
{% block body %}
<div class="content">
<h1>NCO WAPS Calculator</h1><hr />
<form action="{{url_for('nco_waps')}}" method="post">

    <!-- Form Data -->
    <div class="row">

        <!-- Column 1 -->
        <div class="col-md-4">
            <div class="form-group {% if form.rank_testing_for.errors %} has-error {% endif %}">
                {{ form.rank_testing_for.label() }}
                {{ form.rank_testing_for(class="form-control") }}
                <p class="help-block">
                    {{ form.rank_testing_for.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.cycle_testing_in.errors %} has-error {% endif %}">
                {{ form.cycle_testing_in.label() }}
                {{ form.cycle_testing_in(class="form-control") }}
                <p class="help-block">
                    {{ form.cycle_testing_in.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.initial_enlistment_date.errors %} has-error {% endif %}">
                {{ form.initial_enlistment_date.label() }}
                {{ form.initial_enlistment_date(class="form-control") }}
                <p class="help-block">
                    {{ form.initial_enlistment_date.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.date_of_rank.errors %} has-error {% endif %}">
                {{ form.date_of_rank.label() }}
                {{ form.date_of_rank(class="form-control") }}
                <p class="help-block">
                    {{ form.date_of_rank.errors[0] }}
                </p>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-md-4">
            <div class="form-group {% if form.estimated_cutoff.errors %} has-error {% endif %}">
                {{ form.estimated_cutoff.label() }}
                | <a href="https://mypers.af.mil/app/answers/detail/a_id/13016/p/10/c/656">
                    Previous Year Stats
                </a> (CAC Req'd)
                {{ form.estimated_cutoff(class="form-control") }}
                <p class="help-block">
                    {{ form.estimated_cutoff.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.decorations.errors %} has-error {% endif %}">
                {{ form.decorations.label() }}
                {{ form.decorations(class="form-control") }}
                <p class="help-block">
                    {{ form.decorations.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.pfe.errors %} has-error {% endif %}">
                {{ form.pfe.label() }}
                {{ form.pfe(class="form-control") }}
                <p class="help-block">
                    {{ form.pfe.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.skt.errors %} has-error {% endif %}">
                {{ form.skt.label() }}
                {{ form.skt(class="form-control") }}
                <p class="help-block">
                    {{ form.skt.errors[0] }}
                </p>
            </div>
        </div>

        <!-- Column 3 -->
        <div class="col-md-4">
            <div class="form-group {% if form.afsc.errors %} has-error {% endif %}">
                {{ form.afsc.label() }}
                {{ form.afsc(class="form-control") }}
                <p class="help-block">
                    {{ form.afsc.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.epr1.errors %} has-error {% endif %}">
                {{ form.epr1.label() }}
                {{ form.epr1(class="form-control") }}
                <p class="help-block">
                    {{ form.epr1.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.epr2.errors %} has-error {% endif %}">
                {{ form.epr2.label() }}
                {{ form.epr2(class="form-control") }}
                <p class="help-block">
                    {{ form.epr2.errors[0] }}
                </p>
            </div>
            <div class="form-group {% if form.epr3.errors %} has-error {% endif %}">
                {{ form.epr3.label() }}
                {{ form.epr3(class="form-control") }}
                <p class="help-block">
                    {{ form.epr3.errors[0] }}
                </p>
            </div>
        </div>

    </div>

    <!-- Form Result -->
    <div class="row">

        <!-- Column 1 -->
        <div class="col-md-4">
            <div class="form-group
                {% if 'Ineligible' in form.eligibility.data %} has-warning
                {% elif form.eligibility.data == 'Eligible' %} has-success
                {% endif %}">
                {{ form.eligibility.label() }}
                {{ form.eligibility(class="form-control result-field", disabled=True) }}
                <p class="help-block">
                    {{ form.eligibility.errors[0] }}
                </p>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-md-4">
            <div class="form-group">
                {{ form.total_score.label() }}
                {{ form.total_score(class="form-control result-field", disabled=True) }}
                <p class="help-block">
                    {{ form.total_score.errors[0] }}
                </p>
            </div>
        </div>

        <!-- Column 3 -->
        <div class="col-md-4">
            <div class="form-group
                {% if form.is_promoted.data == 'Not Promoted 😢' %} has-warning
                {% elif form.is_promoted.data == 'Promoted 😃' %} has-success
                {% endif %}">
                {{ form.is_promoted.label() }}
                {{ form.is_promoted(class="form-control result-field", disabled=True) }}
                <p class="help-block">
                    {{ form.is_promoted.errors[0] }}
                </p>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Calculate</button>
</form>
    <hr />
    <small>
        <p>
            References:<br />
            {% for reference in info.references %}
                {% if 'http' in reference %}<a href="{{ reference }}">{% endif %}
                    {{ reference }}<br />
                {% if 'http' in reference %}</a>{% endif %}
            {% endfor %}
            <strong>Algorithm updated: {{ info.updated.strftime('%d %b %y %H:%M') }}</strong>
        </p>
    </small>
</div>
{% endblock %}
