{% extends "layout.html" %}
{% block body %}
<div class="content col-md-4 offset-md-4">
<h1>PT Calculator</h1><hr />
<form action="{{url_for('pt')}}" method="post">

<!-- Form Data -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group {% if form.gender.errors %} has-error {% endif %}">
                {{ form.gender.label() }}
                {{ form.gender(class="form-control") }}
                <p class="help-block">
                    {{ form.gender.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.age.errors %} has-error {% endif %}">
                {{ form.age.label() }}
                {{ form.age(class="form-control") }}
                <p class="help-block">
                    {{ form.age.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.run.errors %} has-error {% endif %}">
                {{ form.run.label() }}
                {{ form.run(class="form-control") }}
                <p class="help-block">
                    {{ form.run.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.wst.errors %} has-error {% endif %}">
                {{ form.wst.label() }}
                {{ form.wst(class="form-control") }}
                <p class="help-block">
                    {{ form.wst.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.pushups.errors %} has-error {% endif %}">
                {{ form.pushups.label() }}
                {{ form.pushups(class="form-control") }}
                <p class="help-block">
                    {{ form.pushups.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.situps.errors %} has-error {% endif %}">
                {{ form.situps.label() }}
                {{ form.situps(class="form-control") }}
                <p class="help-block">
                    {{ form.situps.errors[0] }}
                </p>
            </div>

            <p>If you are exempt from a component simply enter some random value in that field and select the appropriate
                checkbox next to the component you are exempt from.</p>

            <div class="form-group">
                {{ form.run_exempt(class="",id="run_exempt") }}
                {{ form.run_exempt.label(class="",for="run_exempt") }}
                {{ form.wst_exempt(class="",id="wst_exempt") }}
                {{ form.wst_exempt.label(class="",for="wst_exempt") }}
                {{ form.pushup_exempt(class="",id="pushup_exempt") }}
                {{ form.pushup_exempt.label(class="",for="pushup_exempt") }}
                {{ form.situp_exempt(class="",id="situp_exempt") }}
                {{ form.situp_exempt.label(class="",for="situp_exempt") }}
            </div>

            <button type="submit" class="btn btn-primary">Calculate</button> <br /> <br />

            <!-- Form Result -->
            <div class="form-group">
		{{ form.composite_res.label() }}
                {{ form.composite_res(class="form-control result-field", disabled=True) }}
            </div>

            <div class="form-group">
		{{ form.run_res.label() }}
                {{ form.run_res(class="form-control result-field", disabled=True) }}
            </div>

            <div class="form-group">
		{{ form.wst_res.label() }}
                {{ form.wst_res(class="form-control result-field", disabled=True) }}
            </div>

            <div class="form-group">
		{{ form.pushup_res.label() }}
                {{ form.pushup_res(class="form-control result-field", disabled=True) }}
            </div>

            <div class="form-group">
		{{ form.situp_res.label() }}
                {{ form.situp_res(class="form-control result-field", disabled=True) }}
            </div>

        </div>
	</div>
</form>
    <hr />
    <small>
        <p>
            Reference:
            <a href="{{ info.reference }}">
                {{ info.reference }}
            </a><br />
            Algorithm updated: {{ info.updated }}
        </p>
    </small>
    </div>
{% endblock %}
