{% extends "layout.html" %}
{% block body %}
<div class="content col-md-4 offset-md-4" xmlns:font-size="http://www.w3.org/1999/xhtml">
<h1>SNCO Waps Calculator</h1><hr />
<form action="{{url_for('snco')}}" method="post">

<!-- Form Data -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group {% if form.testing_rank.errors %} has-error {% endif %}">
                {{ form.testing_rank.label() }}
                {{ form.testing_rank(class="form-control") }}
                <p class="help-block">
                    {{ form.testing_rank.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.cycle.errors %} has-error {% endif %}">
                {{ form.cycle.label() }}
                {{ form.cycle(class="form-control") }}
                <p class="help-block">
                    {{ form.cycle.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.tafmsd.errors %} has-error {% endif %}">
                {{ form.tafmsd.label() }}
                {{ form.tafmsd(class="form-control") }}
                <p class="help-block">
                    {{ form.tafmsd.errors[0] }}
                </p>
            </div>

            <label>Air Force Specialty Code</label>
		<h3><table><form action="" method="POST">
          	<td>
              	<select name="choice" width="300px">
		{% for o in afsc_list %}
                    <option value="{{ o }}"{% if o == state.choice %} selected {% endif %}>{{ o }}</option>
		{% endfor %}
		</select>
		</td>
        </form></table><h3>

            <div class="form-group {% if form.medal_score.errors %} has-error {% endif %}">
                {{ form.medal_score.label() }}
                {{ form.medal_score(class="form-control") }}
                <p class="help-block">
                    {{ form.medal_score.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.board1.errors %} has-error {% endif %}">
                {{ form.board1.label() }}
                {{ form.board1(class="form-control") }}
                <p class="help-block">
                    {{ form.board1.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.board2.errors %} has-error {% endif %}">
                {{ form.board2.label() }}
                {{ form.board2(class="form-control") }}
                <p class="help-block">
                    {{ form.board2.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.board3.errors %} has-error {% endif %}">
                {{ form.board3.label() }}
                {{ form.board3(class="form-control") }}
                <p class="help-block">
                    {{ form.board3.errors[0] }}
                </p>
            </div>

            <button type="submit" class="btn btn-primary">Calculate</button>

</form>
    <hr />
	<small>
        <p>
            Reference:
            <a href="{{ info.reference }}">
                {{ info.reference }}
            </a>
        </p>
    </small>
    </div>
{% endblock %}
