{% extends "layout.html" %}
{% block body %}
<div class="content col-md-4 offset-md-4">
<h1>SRB Calculator</h1><hr />
<form action="{{url_for('srb')}}" method="post">

<!-- Form Data -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group {% if form.years_enlisted.errors %} has-error {% endif %}">
                {{ form.years_enlisted.label() }}
                {{ form.years_enlisted(class="form-control",inputmode="numeric") }}
                <p class="help-block">
                    {{ form.years_enlisted.errors[0] }}
                </p>
            </div>

	        <div class="form-group {% if form.rank.errors %} has-error {% endif %}">
                {{ form.rank.label() }}
                {{ form.rank(class="form-control") }}
                <p class="help-block">
                    {{ form.rank.errors[0] }}
                </p>
            </div>

	        <div class="form-group {% if form.reenlistment.errors %} has-error {% endif %}">
                {{ form.reenlistment.label() }}
                {{ form.reenlistment(class="form-control") }}
                <p class="help-block">
                    {{ form.reenlistment.errors[0] }}
                </p>
            </div>

            <div class="form-group {% if form.my_afsc.errors %} has-error {% endif %}">
                {{ form.my_afsc.label() }}
                {{ form.my_afsc(class="form-control") }}
                <p class="help-block">
                    {{ form.my_afsc.errors[0] }}
                </p>
            </div>

            <button type="submit" class="btn btn-primary">Calculate</button>
            <br />
            <br />
            <div class="form-group">
                {{ form.estimate(class="",id="estimate") }}
                {{ form.estimate.label(class="",for="estimate") }}
            </div>
            <hr />

	        <!-- Form Result -->
            <div class="form-group">
		        {{ form.bonus.label() }}
                {{ form.bonus(class="form-control result-field", disabled=True) }}
            </div>

            <div class="form-group">
		        {{ form.lump_sum.label() }}
                {{ form.lump_sum(class="form-control result-field", disabled=True) }}
            </div>

            <div class="form-group">
		        {{ form.disbursement.label() }}
                {{ form.disbursement(class="form-control result-field", disabled=True) }}
            </div>
        </div>
	</div>
</form>
    <hr />
    <small>
        <p>
            Reference:
            <a href="{{ info.reference }}">
                {{ info.reference }}
            </a><br />
            Algorithm updated: {{ info.updated }}
        </p>
    </small>
    </div>
{% endblock %}
